body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
}

h3 {
  text-transform: initial;
  font-style: italic;
  font-family: "fantacy";
  transform: skewX(-10deg);
  font-size: 2rem;
}

p {
  text-transform: initial;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.icon-after, .question-area .question-area-wrapper .question-collapse ul li::after, nav ul li:nth-child(1)::after, .header-contact a::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  transition: background-color 0.4s, color 0.4s ease;
  display: inline-block;
  font-weight: 500;
}

.breaking-point {
  display: block;
}

.header-contact {
  background-color: #c7dae8;
}
.header-contact a {
  position: relative;
  padding-left: 20px;
}
.header-contact a::before {
  left: 0;
  background-image: url("../assets/icons/call.svg");
}
.header-contact a:hover {
  color: #ff451c;
}
.header-contact ul:first-child {
  font-weight: 500;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li:nth-child(1) {
  position: relative;
}
nav ul li:nth-child(1)::after {
  background-image: url("../assets/icons/dropdown.png");
  filter: invert(1);
  width: 8px;
  height: 8px;
  right: 8px;
}
nav ul li a {
  text-transform: uppercase;
  color: black;
  padding: 15px 25px;
  font-size: 0.95rem;
}
nav ul li a:hover {
  color: #c7dae8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
}
ul li a {
  text-decoration: none;
}

.header-contact li span {
  color: #ff451c;
  text-transform: uppercase;
  font-weight: bold;
}
.header-contact a {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.primary-button {
  background-color: #ff451c;
  color: white;
  padding: 15px 30px;
  text-transform: uppercase;
}
.primary-button:hover {
  background-color: white;
  color: black;
}

.banner {
  background-image: url("../assets/images/Rectangle-13.png");
  background-size: cover;
  background-position: center;
  height: 900px;
}

.banner-text-area {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 50%;
}
.banner-text-area *:not(:last-child) {
  margin-bottom: 40px;
}
.banner-text-area h1 {
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
}

.service-time-wrapper {
  display: flex;
}
.service-time-wrapper .model-image-block {
  background-image: url("../assets/images/Rectangle-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.service-time-wrapper .service-time-content-part .text-part {
  padding: 120px;
}
.service-time-wrapper .service-time-content-part .text-part *:not(:first-child) {
  margin-top: 30px;
}
.service-time-wrapper .service-time-content-part .text-part h3 {
  color: #c7dae8;
  font-style: italic;
}

.question-area {
  background-color: #c7dae8;
  padding: 80px 0;
}
.question-area .question-area-wrapper .visit-faq {
  padding: 0 25px;
}
.question-area .question-area-wrapper .visit-faq *:not(:first-child) {
  margin-top: 30px;
}
.question-area .question-area-wrapper .visit-faq h2 {
  font-size: 3rem;
}
.question-area .question-area-wrapper .visit-faq h3 {
  font-style: italic;
}
.question-area .question-area-wrapper .question-collapse ul li {
  padding: 45px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
}
.question-area .question-area-wrapper .question-collapse ul li::after {
  background-image: url("../assets/icons/plus-icon.svg");
}
.question-area .question-area-wrapper .question-collapse #accordion .card {
  background-color: transparent;
  border: none;
}
.question-area .question-area-wrapper .question-collapse #accordion .card .card-header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.question-area .question-area-wrapper .question-collapse #accordion .card .card-header a {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding-left: 0;
}
.question-area .question-area-wrapper .question-collapse #accordion .card .card-body p {
  font-size: 1.35rem;
  line-height: 1.8rem;
}
.question-area .question-area-wrapper .question-collapse #accordion .card .card-body {
  padding-left: 0;
}

.declaration-area {
  text-align: center;
  padding: 130px 0;
}
.declaration-area h4,
.declaration-area p {
  margin-bottom: 40px !important;
}
.declaration-area h4 {
  text-transform: capitalize;
}
.declaration-area p {
  text-transform: initial;
  width: 60%;
  margin: 0 auto;
  font-style: italic;
  font-size: 2.2rem;
  color: #c7dae8;
  font-weight: 600;
  font-family: "fantacy";
  transform: skew(-15deg);
}
.declaration-area .star-icon {
  color: black;
  font-size: 30px;
}

.story {
  background-color: #c7dae8;
}
.story .story-wrapper {
  margin: 0;
  width: 100%;
}
.story .story-wrapper .story-item {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
.story .story-wrapper .story-item *:not(:first-child) {
  margin-top: 40px;
}
.story .story-wrapper .story-item img {
  width: 100%;
}
.story .story-wrapper .story-item:nth-child(2),
.story .story-wrapper .story-item:nth-child(3) {
  padding: 120px;
}
.story .story-wrapper .story-item:nth-child(3) {
  background-color: #e8ded2;
}
.story .story-wrapper .story-item:first-child {
  background-image: url("../assets/images/Rectangle-12.png");
}
.story .story-wrapper .story-item:last-child {
  background-image: url("../assets/images/Rectangasdle-12.png");
}

footer {
  background-color: #9bb8d3;
  padding: 100px 0;
}
footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
}
footer .footer-wrapper .footer-item:first-child p {
  font-size: 1rem;
  line-height: 1.2rem;
}
footer .footer-wrapper .footer-item:first-child a {
  font-size: 1rem;
  font-weight: 300;
  padding: 0;
  text-transform: none;
}
footer .footer-wrapper .footer-item:first-child ul:first-of-type {
  margin-bottom: 15px;
}
footer .footer-wrapper .footer-item h4,
footer .footer-wrapper .footer-item a,
footer .footer-wrapper .footer-item input[type=submit] {
  text-transform: uppercase;
}
footer .footer-wrapper .footer-item p,
footer .footer-wrapper .footer-item input[type=submit] {
  margin-top: 30px;
}
footer .footer-wrapper .footer-item h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
}
footer .footer-wrapper .footer-item ul li a {
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 2px 0;
}
footer .footer-wrapper .footer-item ul li a:hover {
  color: white;
}
footer .footer-wrapper .footer-item form input[type=text] {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 15px 0;
  padding-left: 15px;
}
footer .footer-wrapper .footer-item form input[type=text]::-moz-placeholder {
  text-transform: capitalize;
  color: white;
}
footer .footer-wrapper .footer-item form input[type=text]::placeholder {
  text-transform: capitalize;
  color: white;
}
footer .footer-wrapper .footer-item form input[type=submit] {
  background-color: #ff451c;
  padding: 15px 0;
}
footer .footer-wrapper .footer-item form input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  color: white;
}
footer .footer-wrapper .footer-item p {
  font-size: 1rem;
  line-height: 1.3rem;
}
footer .footer-wrapper .footer-item p span a {
  text-decoration: underline;
  color: black;
  padding: 0;
  text-transform: capitalize;
  font-size: 1rem;
}
footer .footer-wrapper .footer-item:last-child {
  width: 35%;
}/*# sourceMappingURL=style.css.map */